.navbar-dark {
    background: black !important;
}

.navbar-text {
    color: white !important;
    margin-bottom: 0 !important;
}

h3 {
    font-size: 200%;
}

.current-score {
    padding-left: 10% !important;
    font-size: 150% !important;
}

.high-score {
    padding-right: 10% !important;
    padding-left: 15% !important;
    text-align: right !important;
    font-size: 150% !important;
}