.routine {
    padding-top: 25px;
    background-image: url("https://www.gamereactor.eu/media/10/_2721013b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
.music {
  width: 100%;
  height: 45px;
  opacity: .10;
}